@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root{
  
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);

--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/pattern-background-mobile.svg");
  background-color: var(--pale-blue);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  margin: 2rem 1.5rem 2rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


main{
  max-width: 27em;
  margin: 0 auto;
}

div.card {
  background-color: rgb(255, 255, 255);
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

img[id="hero"]{
  width: 100%;
  height: auto;
}

.card-content {
  padding: 2rem;
  text-align: center;
}

.card-content > h1 {
  color: var(--dark-blue);
  font-weight: 900;
  margin-bottom: 1rem;
}

.card-content > p {
  margin: 0.5rem 2.5rem 1.5rem 2.5rem;
  color: var(--desaturated-blue);
}

.plan-container {
  display: flex;
  justify-content: space-between;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.plan-container-left {
  display: flex;
  justify-content: space-between;
}

.plan-container-left > div {
  margin-left: 1.5em;
  color: var(--desaturated-blue);
}

h2 {
  font-size: 1em;
  font-weight: 900;
  color: var(--dark-blue);
  margin-bottom: 0.2rem;
}

.plan-container-right a {
  font-weight: 700;
  color: var(--bright-blue);
}

.plan-container-right a:hover{
  text-decoration: none;
  opacity: 0.7;
}

a[id="payment-btn"] {
  display: block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: var(--bright-blue);
  border-radius: 1rem;
  border: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1rem;
}

a[id="payment-btn"]:hover,
a[id="payment-btn"]:focus{
 opacity: 0.7;
}

a[id="cancel-btn"] {
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
  color: var(--desaturated-blue);
}

a[id="cancel-btn"]:hover,
a[id="cancel-btn"]:focus{
  color:var(--dark-blue);
}

.attribution {
  margin-top:1.5rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
